

$primary-color: #3498db;
$secondary-color: #b32010;

body {
    font-family: Arial, sans-serif;
    color: $primary-color;
    background-color: #ecf0f1;
}

h1 {
    color: $secondary-color;
}

.box {
    width: 100px;
    height: 100px;
    background-color: $primary-color;
    &:hover {
        background-color: $secondary-color;
    }
}

